:root {
  box-sizing: border-box;

  --main-text: #141445;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: sans-serif;
  min-height: 100vh;
}

.container {
  padding: 0 100px;
  max-width: 1920px;
}

/* HEADER */

.header {
  --header-border: #333;
  --header-bc: #D2898B;
  margin: 0;
  background-color: var(--header-bc);
  border-bottom: 1px solid var(--header-border);
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}


/* HEADER NAVIGATION */

.header__nav {
  margin: 0;
  padding: 0;
}

.header__list {
  margin: 0;
  padding: 0;

  display: flex;
  flex-wrap: wrap;

  list-style-type: none;
}

.header__item:not(:last-child) {
  margin-right: 25px;
}

.header__link {
  padding-bottom: 3px; 
  
  font-weight: bold;
  color: var(--main-text);
  text-decoration: none;
  text-transform: uppercase;

  border-bottom: 2px solid transparent;

  transition: border-color 0.3s ease-in-out;
}

.header__link:hover {
  border-color: var(--main-text);
}

/* HERO */

.hero {
  padding: 80px 0;
  border-bottom: 1px solid #333;
}

.hero__container {
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: center;
  min-height: 500px;
}

.hero__title {
  margin: 0;
  margin-bottom: 30px;
  font-size: 72px;
  text-transform: uppercase;
}

.hero__desrc {
  margin: 0;
  margin-bottom: 30px;
  font-size: 24px;
  text-transform: uppercase;
}

.hero__button {
  margin-top: auto;
  padding: 20px 90px;
  border-radius: 100px;
  color: var(--main-text);
  background-color: #D2898B;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  outline: none;
  border: none;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out,
              transform 0.1s ease;
}

.hero__button:hover {
  opacity: 0.9;
}

.hero__button:active {
  transform: translateY(1px);
}